.App {
  text-align: center;
}

.Banner{
	padding:1.5em;
	background-color:orange;
}

.Graph{
	margin-top: 2em;
}

.Sidebar{
	float: left
}

.BoxHeader{
	padding: 2em;
	background-color:Blue;
}
.Box{
	padding: 2em;
	background-color:red;
}

.BoxFooter{
	padding-left: 2em;
	height:30em;
	background-color:green;
	overflow: hidden;
}
