.App {
  text-align: center;
}

.Banner{
	padding:1.5em;
	background-color:#292C44;
}

.Graph{
	margin-top: 2em;
}

.Sidebar{
	float: left
}

.BoxHeader{
	padding: 2em;
	background-color:#4F80E1;

	border-bottom: 1px solid black;
	
	border-right: 2px solid black;
}
.Box{
	padding: 2em;
	background-color:#18CDCA;
	border-bottom: 1px solid black;

	border-right: 2px solid black;
}

.BoxFooter{
	padding-left: 2em;
	height:30em;
	background-color:#FF5349;
	overflow: hidden;
	
	border-right: 2px solid black;
}

.Icon{
	display:inline;
	margin: 4em;
}
